body{
    background-image: url("Main Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.brand-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 400px;
    right: 1000px;
   
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container{

    text-align: center;
    border-color: grey solid;
    background-color: rgb(42, 104, 165);
    
}

.column {
  float: left;
  width: 50%;
}

.ChooseFile
{
    
    
}   

