body{
    background-image: url("Main Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

body {
    flex-direction: column;
}

html, body {
    font-family: "Montserrat", sans-serif;
}

.container.mt-5 {
  
    max-width: 600px;
    transform: scale(0.85);

}

